body {
    font-family: "Inter", sans-serif;
    letter-spacing: normal;
    margin: 0;
}

.header-container {
    display: flex;
    align-items: center;

    height: 80px;
    background: var(--ultra-light);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 100px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    color: var(--heading);
    list-style-type: none;
    margin: 0 20px;
}

.button {
    border-radius: 10px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
}

.button-accent {
    padding: 14px 24px 16px;
    background: var(--accent);
    border: none;
    color: var(--ultra-light);
}

.header-container .button-accent {
    width: 130px;
}

.button-accent:hover {
    background-color: var(--accent-lighter);
    cursor: pointer;
}

/*______________________________________________________*/


