body {
    font-family: "Inter", sans-serif;
    letter-spacing: normal;
    margin: 0;
}

/*_______________________header_______________________________*/

.header-container {
    display: flex;
    align-items: center;
    height: var(--header-height);
    background: var(--ultra-light);
    position: relative;
    z-index: 2;

}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 100px;

}

.header-navigation {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    color: var(--heading);
    list-style-type: none;
    margin: 0 20px;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button {
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.button-accent {
    padding: 14px 24px 16px;
    background: var(--accent);
    border: none;
    color: var(--ultra-light);
}

.header-container .button-accent {
    width: 130px;
}

.button-accent:hover {
    background-color: var(--accent-lighter);
    cursor: pointer;
}

/*_______________________start-page_______________________________*/

.start-page {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - var(--header-height));
    background: var(--light-background);
}

#start-page-one-circle-image {
    z-index: 1;
    position: absolute;
    right: 0;
    top: -10px;
}

#start-page-six-circle-image {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.start-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 135px 268px 285px;
    align-items: center;
    text-align: center;
}

h4 {
    margin: 0 0 9px;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent);
}

.start-page-content h1 {
    margin: 0;
    font-size: 48px;
    font-weight: normal;
    line-height: 58px;
    color: var(--heading);
}

.start-page-content p {
    margin: 34px 0 57px;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: var(--paragraph);
}

.start-page-buttons button {
    margin: 0 8px;
}

.start-page-buttons .button-accent {
    width: 166px;
}

.button-base {
    padding: 14px 24px 16px;
    background: none;
    border: solid 1px var(--accent);
    color: var(--heading);
}

.button-base:hover {
    background-color: var(--accent-lighter);
    color: var(--ultra-light);
    cursor: pointer;
}

.start-page-buttons .button-base {
    width: 166px;
}

/*_______________________stat-page_______________________________*/

.stat-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: var(--accent);
    border-radius: 25px;
    padding: 0 320px;
}

.stat-block img {
    z-index: 1;
    position: absolute;
    top: -170px;
}

.stat-block-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 220px;
    width: 100%;
    background-color: var(--ultra-light);
    border-radius: 25px;
    align-items: center;
    margin: 60vh 0 0;
}

.stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stat-box h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: var(--heading);
    margin: 0;
}

.stat-box p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--accent);
    margin: 10px 0 0;
}

/*_______________________layouts-block_______________________________*/

.layouts-block {
    display: flex;
    flex-direction: column;
    min-height: 280vh;
    background-color: var(--light-background);
    background-image: var(--background-layer-long);
    background-size: 100vw 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}

.layouts-block-content {
    padding-top: 120px;
}

.layouts-block-content h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: var(--heading);
    margin: 0;
}

.layouts-pages-block {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    margin: 70px 180px;
}

.layouts-pages-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--ultra-light);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(116, 67, 67, 0.1);
    margin: 20px;
    font-size: 20px;
    font-weight: normal;
    line-height: 48px;
    color: var(--heading);
    padding-top: 10px;
}

.layouts-pages-box img {
    border-radius: 10px;
}

/*_______________________features-block_______________________________*/

.features-block {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--ultra-light);
    align-items: center;
    text-align: center;
}

.features-block-content {
    padding: 120px;
}

.features-block-content h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: var(--heading);
    margin: 0;
}

.features-block-cards {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin: 40px;
    text-align: left;
}

.features-block-card {
    background: var(--ultra-light) center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(116, 67, 67, 0.1);
    margin: 20px;
    padding: 20px 40px;
}

.features-block-card h2{
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: var(--heading)
}

.features-block-card p{
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    color: var(--paragraph);
}

.features-block-card:nth-child(1){
    background-image: var(--features-child-1);
}

.features-block-card:nth-child(2){
    background-image: var(--features-child-2);
}

.features-block-card:nth-child(3){
    background-image: var(--features-child-3);
}

.features-block-card:nth-child(4){
    background-image: var(--features-child-4);
}

.features-block-card:nth-child(5){
    background-image: var(--features-child-5);
}

.features-block-card:nth-child(6){
    background-image: var(--features-child-6);
}

/*_______________________navigation-block_______________________________*/

.navigation-block {
    display: flex;
    min-height: 100vh;
    background-color: var(--light-background);
    background-image: var(--background-layer-short);
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    align-items: center;
    text-align: center;
}

.navigation-block-content {
    padding: 180px 140px;
    width: 100%;
}

.navigation-block-many-cards {
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    align-items: center;
    text-align: center;
}

.navigation-block-card {
    background-color: var(--ultra-light);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin: 15px;
}

.navigation-block-card a {
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: var(--heading);
    padding-top: 40px;
    padding-bottom: 40px;
}

.navigation-block-card a:hover {
    color: var(--paragraph);
    cursor: pointer;
}

.navigation-block-two-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*_______________________form-block_______________________________*/

.form-block {
    display: flex;
    justify-content: center;
    min-height: 50vh;
    background-color: var(--ultra-light);
    align-items: center;
    text-align: center;
    position: relative;
}

#form-block-one-circle-image {
    z-index: 0;
    position: absolute;
    left: 360px;
    bottom: 155px;
}

#form-block-six-circle-image {
    z-index: 0;
    position: absolute;
    width: 183px;
    height: 183px;
    right: 300px;
    bottom: 21px;
}

.form-block-content {
    z-index: 1;
    padding: 20px 420px 40px;
    width: 35%;
}

.form-block-content h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: var(--heading);
    margin:0 0 127px;
}

.form-block-mail-form {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
}

.form-block-mail-form input {
    background-color: var(--ultra-light);
    border: 2px solid var(--accent);
    border-radius: 10px;
    width: 100%;
    padding: 17px 0;
    margin: 10px;
    /**/
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    color: var(--placeholder);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    text-indent: 25px;
}

.form-block-mail-form button {
    padding: 17px 0;
    width: 100%;
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    color: var(--ultra-light);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-block-content p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 1px;
    color: var(--heading);
}

.form-block-content p a:hover{
    cursor: pointer;
    text-decoration: underline;
}

/*_______________________footer_______________________________*/

.footer-block {
    display: flex;
    justify-content: center;
    min-height: 55vh;
    align-items: center;
    text-align: center;
    /**/
    background-image: var(--background-footer);
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    background-position: center;
    /**/
    padding: 72px 135px 20px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*________footer-up________*/

.upper-footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#twitter {
 margin: 0 18px 0 36px;
}

#instagram {
    margin: 0 36px 0 18px;
}

hr {
    border: 1px solid var(--hr-solid);
    margin: 52px 0 30px;
}

/*________footer-middle________*/

.middle-footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.middle-footer-block-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.middle-footer-block-left h1 {
    font-weight: normal;
    font-size: 38px;
    line-height: 48px;
    color: var(--ultra-light);
    margin: 0;
}

a[href^="mailto:"] {
    font-size: 16px;
    line-height: 26px;
    color: var(--footer-inform-links);
    padding: 20px 0 40px;
    text-decoration: none;
}

a[href^="mailto:"]:hover {
    text-decoration: underline;
    color: var(--ultra-light);
}

.middle-footer-block-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-links-middle-footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    padding-bottom: 15px;
    margin-right: 150px;
    /**/
    color: var(--ultra-light);
    font-size: 18px;
    line-height: 28px;
}

.left-links-middle-footer a {
    padding: 15px 0 0;
    font-size: 14px;
    line-height: 24px;
}

.left-links-middle-footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.right-links-middle-footer {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    text-align: left;
    padding-bottom: 15px;
    /**/
    color: var(--ultra-light);
    font-size: 18px;
    line-height: 28px;
}

.image-links-footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
}

.image-links-footer a {
    padding: 0 0 0 10px;
    font-size: 14px;
    line-height: 24px;
}

.image-links-footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*________footer-bottom________*/

.bottom-footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.left-links-bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    /**/
    color: var(--ultra-light);
    font-size: 12px;
    line-height: 30px;
}

.left-links-bottom-footer a {
    color: var(--footer-inform-links);
    padding-left: 15px;
}

.left-links-bottom-footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.right-links-bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    /**/
    color: var(--footer-inform-links);
    font-size: 12px;
    line-height: 30px;
}

.right-links-bottom-footer p {
    padding: 0 10px;
}

.right-links-bottom-footer a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--ultra-light);
}