body {
    font-family: "Inter", sans-serif;
    letter-spacing: normal;
    margin: 0;
}

/*_______________________header_______________________________*/

.header-container {
    display: flex;
    align-items: center;
    height: var(--header-height);
    background: var(--ultra-light);
    position: relative;
    z-index: 2;

}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 100px;

}

.header-navigation {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    color: var(--heading);
    list-style-type: none;
    margin: 0 20px;
}

.button {
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.button-accent {
    padding: 14px 24px 16px;
    background: var(--accent);
    border: none;
    color: var(--ultra-light);
}

.header-container .button-accent {
    width: 130px;
}

.button-accent:hover {
    background-color: var(--accent-lighter);
    cursor: pointer;
}

/*_______________________start-page_______________________________*/

.start-page {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--header-height));
    background: var(--light-background);
}

#start-page-one-circle-image {
    z-index: 1;
    position: absolute;
    right: 0;
    top: -10px;
}

#start-page-six-circle-image {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.start-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 135px 268px 285px;
    align-items: center;
    text-align: center;
}

h4 {
    margin: 0 0 9px;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent);
}

.start-page-content h1 {
    margin: 0;
    font-size: 48px;
    font-weight: normal;
    line-height: 58px;
    color: var(--heading);
}

.start-page-content p {
    margin: 34px 0 57px;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: var(--paragraph);
}

.start-page-buttons button {
    margin: 0 8px;
}

.start-page-buttons .button-accent {
    width: 166px;
}

.button-base {
    padding: 14px 24px 16px;
    background: none;
    border: solid 1px var(--accent);
    color: var(--heading);
}

.button-base:hover {
    background-color: var(--accent-lighter);
    color: var(--ultra-light);
    cursor: pointer;
}

.start-page-buttons .button-base {
    width: 166px;
}

/*_______________________stat-page_______________________________*/

.stat-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: var(--accent);
    border-radius: 25px;
    padding: 0 320px;
}

.stat-page img {
    z-index: 1;
    position: absolute;
    top: -170px;
}

.stat-page-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 220px;
    width: 100%;
    background-color: var(--ultra-light);
    border-radius: 25px;
    align-items: center;
    margin: 60vh 0 0;
}

.stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stat-box h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: var(--heading);
    margin: 0;
}

.stat-box p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--accent);
    margin: 10px 0 0;
}